body#mainb{
    margin: 0;
    background-color: #101010;
    width: 100%;
    height: 100%;
}

.upBar{
    padding-top: 20px;
    margin: 0 auto;
    height: 90px;
    background-color: #000000;
    color: #a0a0a0;
    
}

div#div2{
    background-color: #ff6b99;
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px; 
    text-align:center;
}

#soma{
    color: #DDDDDD;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

div#tst{
    color: #ffffff;
    text-align: center;
    font-family: Courier, serif;
}

